{% extends "home.html" %}
{% block title %}About{% endblock %}
{%block active%}
        <li><a style="color:#FFD7B8" onMouseOver="this.style.color='#FFFFFF'" onMouseOut="this.style.color='#FFD7B8'" href="/home/">Home</a></li>
        <li class="active"><a style="color:#FFD7B8" onMouseOver="this.style.color='#FFFFFF'" onMouseOut="this.style.color='#FFD7B8'"  href="/about">About</a></li>

        <li><a style="color:#FFD7B8" onMouseOver="this.style.color='#FFFFFF'"onMouseOut="this.style.color='#FFD7B8'" href="/compiler/">Compiler</a></li>

        <li><a style="color:#FFD7B8" onMouseOver="this.style.color='#FFFFFF'" onMouseOut="this.style.color='#FFD7B8'" href="/contact">Contact Us</a></li>

<li><a style="color:#FFD7B8" onMouseOver="this.style.color='#FFFFFF'" onMouseOut="this.style.color='#FFD7B8'" href="/programs">Programs</a></li>
      </ul>
{%endblock%}
{% block content %}
<h1 id="mysite2">About Compile.com</h1>
<p><strong>CompileC.com</strong> has been on the web in one form or another since 9<sup>th</sup>,April,2018,and moved to the domain&nbsp;compileC.com on &nbsp;We've always focused on helping newbie programmers and students get started programming as well as helping more advanced programmers find the specific information&nbsp;they're looking for.</p>
ABOUT THE AUTHORS :
<p><strong><strong>SYED AZHAR FARHAN:</strong></strong></p>
<table>
<tbody>
<tr>
<td width="-5">&nbsp;</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
</tbody>
</table>
<p>Syed Azhar Farhan has been in the field of C programing since 2012 and has good name in the field of programming he has good programming skills &nbsp;and has good experience in the field of programming and I.T. He has put his efforts in development of CompileC and has coded a big part of the website</p>
<p><strong><strong>SYED AZIZ ULLAH HUSSAINI :</strong></strong></p>
<table>
<tbody>
<tr>
<td width="-27">&nbsp;</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
</tbody>
</table>
<p><strong><strong>Syed Aziz</strong></strong>&nbsp;has a great skills in programming specially in c and c++ &nbsp;and has a good programming</p>
<p>Experience in the field of programming and has been a private &nbsp;tutor for c and c++</p>
<p>Syed Aziz has put great efforts in the development of CompileC.com</p>
<p><strong><strong>ANAS HAMED ALI :</strong></strong>Anas Hamed Ali is a student of DECCAN college of engineering and technology and has been a c and c++ &nbsp;and &nbsp;has a great achievements in the programming field</p>
<p>&nbsp;</p>
<table>
<tbody>
<tr>
<td width="33">&nbsp;</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<p>Anas has great skills not only in programming but also in football</p>
<p>He also has achieved many medal as a football player.</p>
<p>We hope that this website will help you to enhance your programming skills</p>
<p>and provide you way of thinking and enhancing your creativity in the field of programming</p>
<p>We wish all the very best to all the programmers and newbies in the field.</p>


{% endblock %}
