{% extends "home.html" %}
{% block title %}Compiler{% endblock %}
{%block active%}
        <li><a style="color:#FFD7B8" onMouseOver="this.style.color='#FFFFFF'" onMouseOut="this.style.color='#FFD7B8'" href="/home/">Home</a></li>
        <li><a style="color:#FFD7B8" onMouseOver="this.style.color='#FFFFFF'" onMouseOut="this.style.color='#FFD7B8'"  href="/about">About</a></li>

        <li class="active"><a style="color:#FFD7B8" onMouseOver="this.style.color='#FFFFFF'"onMouseOut="this.style.color='#FFD7B8'" href="/compiler/">Compiler</a></li>

        <li><a style="color:#FFD7B8" onMouseOver="this.style.color='#FFFFFF'" onMouseOut="this.style.color='#FFD7B8'" href="/contact">Contact Us</a></li>

<li><a style="color:#FFD7B8" onMouseOver="this.style.color='#FFFFFF'" onMouseOut="this.style.color='#FFD7B8'" href="/programs">Programs</a></li>
      </ul>
{%endblock%}
{% block leftsb %}<div class="col-sm-2 sidenav">

      <div class="well">
        <p>ADS</p>
      </div>
      <div class="well">
        <p>ADS</p>
      </div>
    </div>{%endblock%}
{% block content %}<iframe width="100%" height="500px" src="http://tpcg.io/DQ37YE" frameborder="0"></iframe>{% endblock %}
