{% extends "home.html" %}
{% block title %}Contact{% endblock %}
{%block active%}
        <li><a style="color:#FFD7B8" onMouseOver="this.style.color='#FFFFFF'" onMouseOut="this.style.color='#FFD7B8'" href="/home/">Home</a></li>
        <li><a style="color:#FFD7B8" onMouseOver="this.style.color='#FFFFFF'" onMouseOut="this.style.color='#FFD7B8'"  href="/about">About</a></li>

        <li><a style="color:#FFD7B8" onMouseOver="this.style.color='#FFFFFF'"onMouseOut="this.style.color='#FFD7B8'" href="/compiler/">Compiler</a></li>

        <li class="active"><a style="color:#FFD7B8" onMouseOver="this.style.color='#FFFFFF'" onMouseOut="this.style.color='#FFD7B8'" href="/contact">Contact Us</a></li>

<li><a style="color:#FFD7B8" onMouseOver="this.style.color='#FFFFFF'" onMouseOut="this.style.color='#FFD7B8'" href="/programs">Programs</a></li>
      </ul>
{%endblock%}
{% block content %}

<h1 id="mysite2">Contact us on the given Gmail id and WhatsApp no. </h1>
<table>
<tbody>
<tr>
<td width="-66">&nbsp;</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
</tbody>
</table>
<img src="https://image.ibb.co/gyoDxS/farhan.jpg" alt="farhan" border="0" width="200" height="200">
<p><strong>SYED AZHAR FARHAN : </strong></p>


<table>
<td>
<p><img src="https://image.ibb.co/hcAFBn/gm.jpg" alt="wapp" border="0" width="50" height="50"></td>
<td width="-6.5">&nbsp;</td>
<td><a href="mailto:syedaziz373@gmail.com"><u>syedazharfarhan@gmail.com</u></a></p>
</td>
</tr>
</table>
<table>
<td>
<p>
<img src="https://image.ibb.co/fBk447/wapp.png" alt="wapp" border="0" width="50" height="50"></td>
<td width="-6.5">&nbsp;</td>
<td><a href="mailto:syedaziz373@gmail.com"><u>8686829949</u></a></p>
</td>
</tr>
</table>

<table>
<tbody>
<tr>
<td width="-20">&nbsp;</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
</tbody>
</table>

<img src="https://image.ibb.co/kvc1j7/syedaziz.jpg" alt="syedaziz" border="0" width="200" height="200" >
<p><strong><strong>Syed Aziz ullah hussaini </strong></strong></p>

<table>
<tbody>
<tr>
<td width="-6.5">&nbsp;</td>
</tr>
<tr>
<td>
<p><img src="https://image.ibb.co/hcAFBn/gm.jpg" alt="wapp" border="0" width="50" height="50"></td>
<td width="-6.5">&nbsp;</td>
<td><a href="mailto:syedaziz373@gmail.com"><u>syedaziz373@gmail.com</u></a></p>
</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
</tbody>
</table>
<img src="anas.jpg"width=200,height=200>
<p><strong><strong>Anas Hamed Ali </strong></strong></p>
<table>
<td>
<p><img src="https://image.ibb.co/hcAFBn/gm.jpg" alt="wapp" border="0" width="50" height="50"></td>
<td width="-6.5">&nbsp;</td>
<td><a href="mailto:anashamidali99@gmail.com"><u>anashamidali99@gmail.com</u></a></p>
</td>
</tr>
</table>

{% endblock %}